:host {
    display: block;
    height: 100%;
    overflow-x: hidden;
}
#logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    background-color: #3bafda;
    .menu {
        cursor: pointer;
        color: white;
    }
}
kendo-panelbar {
    height: calc(100% - 70px);
}