<div id="logo">
    <img src="assets/image/logo.png" [width]="getLogoWidth()">
    <span class="material-icons menu" (click)="onMenuClick()">
        menu
    </span>
</div>
<kendo-panelbar>
    <kendo-panelbar-item title="{{isMenuOpen ? ('SideBarComponent.Dashboard' | translate) : ''}}" [imageUrl]="iconUrl('dashboard')">
        <kendo-panelbar-item title="{{'SideBarComponent.InstantaneousTemperature' | translate}}" [routerLink]="['/home/dashboard/instantaneous-temperature']"></kendo-panelbar-item>
        <kendo-panelbar-item title="{{'SideBarComponent.AverageTemperature' | translate}}" [routerLink]="['/home/dashboard/average-temperature']"></kendo-panelbar-item>
    </kendo-panelbar-item>

</kendo-panelbar>
