<div id="side-nav-layout">
    <app-side-bar id="sidebar"  [class]="isMenuOpen ? 'open' : ''" [isMenuOpen]="isMenuOpen" (menuClick)="isMenuOpen = false"></app-side-bar>
    <div id="main" [class]="isMenuOpen ? 'open' : ''">
        <app-header (menuEvent)="isMenuOpen= !isMenuOpen" (settingEvent)="isSettingOpen= !isSettingOpen"></app-header>
        <router-outlet></router-outlet>
    </div>    
</div>
<app-setting id="setting" [class]="isSettingOpen ? 'open' : ''" (closeEvent)="isSettingOpen = false"></app-setting>
<div class="overlay" (click)="isSettingOpen = false">gg</div>
