:host {
    display: block;
    width: 100vw;
    height: 100vh;
}
#side-nav-layout {
    display: flex;
    height: 100%;
}
#sidebar {
    width: 0;
    transition: 0.2s;
}
#sidebar.open {
    width: 250px;
}
#main {
   width: 100vw;
   transition: 0.2s;
}
#main.open {
    width: calc(100vw - 250px);
 }
 #setting  {
     position: fixed;
     width: 250px;
     top: 0;
     height: 100vh;
     background-color: white;
     transition: 0.2s;
 }